scripts/results/*
dependencies/chebfun/
dependencies/stk/
dependencies/vfit3/
dependencies/vfit3.zip
dependencies/vfit3_version.txt

# autosave
*.asv
*.m~

# Compiled MEX files
*.mex
*.mexglx
*.mexw32
*.mexw64
*.mexa64
*.mexmaci64
